body {
    font-family: Arial, sans-serif;
    margin: 20px;
}

.form-wrapper {
    width: 80%;
    margin: auto;
    padding: 20px;
    border: 1px solid #ccc;
    box-shadow: 0px 0px 8px #ccc;
}

h2 {
    font-size: 24px;
}

#reg1 {
    text-align: right;
}


form label {
    width: 120px;
    padding: 5px;
    display: block;
    margin-top: 10px;
    margin-bottom: 5px;
}


table {
    border-collapse: collapse;
    width: 100%;
}

th,
td {
    border: 1px solid #ddd;
    padding: 8px;
    width: 20%;
    text-align: left;
}

th {
    background-color: #f2f2f2;
}

table input {
    width: 25%;
}


#age{
margin-right:5px ;
width: 50%;
column-count: 2;
    padding: 8px;
    box-sizing: border-box;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

form input[type="text"],

form textarea,
form select {
    width: 90%;
    /* Full width input for better responsiveness */
    column-count: 2;
    padding: 8px;
    box-sizing: border-box;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.telephone,
form input[type="date"] {
    column-count: 2;
    padding: 8px;
    box-sizing: border-box;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 25%;
}

button,
form input[type="submit"] {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    box-sizing: border-box;
    border-radius: 4px;
    cursor: pointer;
}

#addr {
    text-align: right;
}

form input[type="submit"]:hover {
    background-color: #103612;
}

form select {
    width: 25%;
}

.submit {
    display: block;
    width: 100%;
    text-align: center;
}

#registrationNumber,
#taluk {
    width: 25%;
}

#address {
    margin-left: 80px;
    width: 550px;
}

#addr {
    height: 20px;
    width: 40px;
}

#sex,
#date,
#income,
#ms {
    width: 90%;
}

#stele {
    width: 60%;
}

#textar {
    margin-left: auto;
    display: flex;
}

/* Style for the table */
table {
    border-collapse: collapse;
    width: 100%;
    margin-bottom: 20px;
}

/* Style for table headers (th) */
th {
    background-color: #f2f2f2;
    /* Light gray background color */
    border: 1px solid #333;
    /* Dark border color */
    padding: 10px;
}

/* Style for table cells (td) */
td {
    border: 1px solid #333;
    /* Dark border color */
    padding: 10px;
}

/* Optional: Add hover effect to table rows */
tr:hover {
    background-color: #e6e6e6;
    /* Lighter gray background color on hover */
}

#address {
    resize: none;
    box-sizing: border-box;
    margin-left: 5px;
}

#addt {
    display: flex;
    align-items: center;
    border: 1px solid black;
}

#addip {
    border: 1px solid black;
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: flex-start;

}
#in{
    width: 20%;
}
#adtxt {
    padding: none;
    width: 10%;

}

h4{
    text-align: center;
}
h2{
    text-align: center;
}
h5{
    text-align: left;
}